@tailwind base;
@tailwind components;
@tailwind utilities;


/* hamburger */
.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block;
}

.hamburger-active > span:nth-child(1)  {
    @apply rotate-45; 
    @apply transition ease-in-out;
}

.hamburger-active > span:nth-child(2)  {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3)  {
    @apply -rotate-45;
}

#nav-menu   {
    transition-duration: 500ms;
    transition: ease-in-out;

}

html {
    font-family: Lato, sans-serif;
}

.hero {
    -webkit-mask-image: linear-gradient(rgba(0,0,0, 1) 85%, rgba(0,0,0,0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

/* .about img {
    width: 100%;
    -webkit-mask-image: url('../img/menu/splash.svg');
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
} */

#item-detail-modal {
    display: none;
}

.card h1{
    color: indigo;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background-color: indigo;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1c1f25;
    color: #fff;
}

.list .item {
    text-align: center;
    background-color: #efefef;
    padding: 20px;
    box-shadow: 0 50px 50px #757576;
    letter-spacing: 1px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transiton: all 0.25s ease;
    -o-transition: all 0.25s ease;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;

    justify-content: center;
}

.list .item:hover {
    background-color: #7842b6;
}

.list .item img{
    width: 80%;
    height: 250px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
    
}

.list h1{
    font-weight: bolder;
    font-size: 24px;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button{
    background-color: white;
    color: indigo;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 3px solid indigo;
    cursor: pointer;
    border-radius: 8px;
}

.list .item button:hover{
    background-color: #560bad;
    color: white;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: white;
    row-gap: 10px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard .count {
    margin: 0px 10px;
    color: black;
}

.cardTitle,
.cardPrice {
    color: black;
}

.cardButton {
    width: 28px;
    height: 28px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
    -webkit-transition: translateX(-200px);
    -moz-transition: translateX(-200px);
    -ms-transition: translateX(-200px);
    -o-transition: translateX(-200px);
}

/* responsive list product */
@media only screen and (max-width: 500px) {
    .list .item img{
width: 80px;
height: 60px;
position: relative;
left: 0px;
border-radius: 10px;
    }
    .list .item img:hover {
        transform: scale(1);
    }

    .list .item .buttonAdd {
        width: 50%;
        height: 40px;
        font-size: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 15px;
    }

    .list .item .title {
        font-size: 10px;
        margin-top: 4px;
    }

    .list .item .price {
        font-size: 11px;
        font-weight: bold;
        text-align: center;
    }

    .list {
        padding: 15px;
    }
  }